@font-face {
    font-family: 'iransans';
    src:url(/fonts/IRANSansWeb-FaNum-Medium.ttf);
}
html,body {
    font-family: 'iransans',arial,sans-serif;
    font-size: 14px;
}
.no-decoration{
	text-decoration: none;
}
*{margin:0;padding:0}
html,html{background:#fff;color:#222;padding:15px}
body{margin:5% auto 0;max-width:690px;min-height:280px;padding:10px 0 15px}
* > body{padding-right:205px}
p{margin:11px 0 22px;overflow:hidden}
ins{color:#777;text-decoration:none}
a img{border:0}
.logo{max-height: 150px;max-width: 150px;}
.icon{max-width: 100%;max-height:200px;margin:0px 5px;}
@media screen and (max-width:772px){
	body{background:none;margin-top:0;max-width:none;padding-right:0}
}
@media only screen and (min-resolution:192dpi)
